<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".NSTUMobile"
        android:theme="@style/Theme.NSTUMobile"
        android:versionName="Sirena" >
        <activity
            android:name=".Auth"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Work"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NetworkErrorActivity"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NSTUMobile.NoBar" />
        <activity
            android:name=".Settings"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NSTUMobile.NoBar" />
        <activity
            android:name=".ProfileData"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ReadMessageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NSTUMobile.ReadMessage" />

        <activity
            android:name=".Login"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.NSTUMobile.NoBar" />
    </application>

</manifest>